.bg-light{
    background-color: #ddd !important;
}
.nav-link{
    color: black !important;
}

.interview-card{
    width: 250px;
    height: 140px;
    transition: all .3s;
}
.interview-card:hover{
    scale: 1.1;
}